{% extends 'base.html' %}
{% block conteudo %}
{% load static %}

<div class="row justify-content-center">
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Erro 404 - Página não encontrada</h5>
                <img class="img img-fluid" style="height: 300px;" src="http://edgecats.net/0.32412984014182733" alt="">
                <hr>

                <div class="row justify-content-center">
                    <div class="col-6">
                        <a class="btn btn-success" href="/">Voltar para Home</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}