{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>AutomaTEC</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
        <link rel="stylesheet" href="../static/css/base_style.css">
    </head>

<body>    
    <nav>
        <div class="container">
            <div class="row justify-content-between">
                <div class="col">
                    {% if request.path != '/' %}
                    <a href="/">
                        <img src="{% static 'imagem/finateclogo.svg' %}" alt="finatec" style="height: 20px">
                    </a>
                    {% else %}
                    <img src="{% static 'imagem/finateclogo.svg' %}" alt="finatec" style="height: 20px">
                    {% endif %}
                </div>
                <div class="col" style="text-align: right;">
                    {% if request.path == '/' %}
                    <a class="link-primary" href="/login">Login</a>
                    <a class="link-primary" href="/admin/">Admin</a>
                    {% elif request.path == '/login/' %}
                    <a class="link-primary" href="/">Home</a>
                        <a class="link-primary" href="/admin/">Admin</a>
                    {% else %}
                    <a class="link-primary" href="/">Home</a>
                    <a class="link-primary" href="/login">Login</a>
                    <a class="link-primary" href="/admin/">Admin</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>    
    
    <div id="conteudo" class="container">
        {% block conteudo %}
        
        {% endblock %}
    </div>

    <div class="container">
        <footer style="text-align: center;">Copyright BRISA 2021©. Todos direitos reservados.</footer>
    </div>
</body>
</html>