{% extends 'base_reset.html' %}
{% block conteudo %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/new_home.css' %}">

<div class="container">
    <div class="row justify-content-evenly align-items-center">
        <div class="col-6 text-white">
            <h1><strong>Automatec</strong></h1>
            <h5>Sistema de prestação de contas automático. <br> Facilidade no dia a dia da FINATEC. </h5>

            <br>

            <a href="/login/">
                <button class="btn" id="entrarButton" type="submit"> <strong>Entrar</strong></button>
            </a>
        </div>
        <div class="col-4">
            <img class="img-fluid" src="{% static 'imagem/logo.svg' %}" alt="logo" class="logo2">
        </div>
    </div>
</div>

{% endblock %}