{% extends 'base.html' %} {% block conteudo %} {% load static %}
<div class="row ">
    <div class="col" style="align-content: center;">
        <div class="card mb-3 mx-auto" style="max-width: 400px;">
            <div class="card-body">
                <div class="row">
                    <h5 class="card-title">
                        Redefinição de senha
                    </h5>
                    <h6 class="card-subtitle mb-2 text-muted">
                        Redefinição de senha completa
                    </h6>
                    <p class="card-text">
                        Sua senha foi definida. Você pode prosseguir e se autenticar agora.
                    </p>
                    <div class="col">
                        <a class="btn btn-primary" href="/login/">Acessar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}