{% extends 'base.html' %} {% block conteudo %} {% load static %}
<div class="row ">
    <div class="col" style="align-content: center;">
        <div class="card mb-3 mx-auto" style="max-width: 400px;">
            <div class="card-body">
                <div class="row">
                    <h5 class="card-title">
                        Redefinição de senha
                    </h5>
                    <h6 class="card-subtitle mb-2 text-muted">
                        Esqueceu sua senha?
                    </h6>
                    <p class="card-text">
                        Forneça seu nome de usuário abaixo, e nós te enviaremos um email com instruções para configurar sua nova senha.    
                    </p>
                </div>

                <hr>

                <form method="post"><input type="hidden" name="csrfmiddlewaretoken" value="pfGXZitw4fIP3rT87fzp5nI3krMdZoIqXFiL4YSqS0ZgiFCifr9IrxL3qbzbjfiG">
                    {% csrf_token %}
                    <fieldset class="module aligned">
                        <div class="row">
                            <div class="col-8">
                                <input class="form-control" type="text" name="email" autocomplete="username" placeholder="nome.sobrenome" maxlength="254" required="" id="id_email">

                            </div>
                            <div class="col">
                                <input class="btn btn-primary" type="submit" value="Enviar">
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}