{% extends 'base_reset.html' %} {% block conteudo %} {% load static %} {% load static custom_filters %}
<div class="row ">
    <div class="col" style="align-content: center;">
        <div class="card mb-3 mx-auto" style="max-width: 400px;">
            <div class="card-body">
                <div class="row">
                    <h5 class="card-title">
                        Redefinição de senha
                    </h5>
                    <h6 class="card-subtitle mb-2 text-muted">
                        Link enviado
                    </h6>
                    <p class="card-text">
                        O link de redefinição de senha foi enviado para o seguinte endereço de email:
                    </p>
                    <div class="col">
                        {{ request.user.email }}
                    </div>
                </div>

                <hr>

                <div class="row">
                    <div class="col-8 ">
                        <input class="form-control" type="text" placeholder="{{ request.user }}" disabled></input>
                    </div>
                    <div class="col">
                        <button class="btn btn-success" disabled>
                            Enviado
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}