{% extends 'base_logged.html' %}
{% block conteudo %}
{% load static %}

<style>
    .card {
        background-color: rgba(0, 0, 0, 0);
        border: 1px solid white;
        border-radius: 20px;
    }

    #input-square {
        border-radius: 20px;
        padding: 10px;
        color: white;
        background-color: rgba(0, 0, 0, 0);
        border: 1px solid white;
    }

    #template {
        color: white;
        padding: 10px;
        border: 1px solid white;
        border-radius: 20px;
    }

    select {
        -webkit-appearance: none;
        -moz-appearance: none;
        text-indent: 1px;
        text-overflow: '';
    }

    #btn-baixar {
        background-color: rgba(0, 0, 0, 0);
        border: 1px solid white;
        border-radius: 20px;
        padding: 10px;
    }

    #btn-baixar:hover {
        transition: 300ms;
        background-color: #F39B00;
    }

    ::-webkit-calendar-picker-indicator {
        filter: invert(1);
    }

    .popup{
    width: 400px;
    background: #fff;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left : 50%;
    transform: translate(-50%,-50%)scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color:#333;
    visibility: hidden;
    transition: transform 0.4s,top 0.4s;

}
.open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%,-50%)scale(1);

}
.popup img{
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2) ;
}

.popup h2{
    font-size: 38px;
    font-weight: 500;
    margin : 30px 0 10px;
}
.popup button{
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background: #6fd649;
    color: #fff;
    border:0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor : pointer;
    box-shadow: 0 5 px 5 px rgba(0, 0, 0, 0.2);


}

</style>

<content class="container">
    <div class="row justify-content-center">

        <div class="col-6 text-white">
            <div class="card">
                <div class="card-body">
                    <div class="row justify-content-center" style="text-align: center;">
                        <div class="col">
                            <img src="{% static 'imagem/logoFinatec.png' %}" alt="logo" class="img img-fluid" />
                            <h3>Selecione o projeto</h3>
                        </div>
                    </div>

                    <hr>

                    <form class="form" method="POST">
                        {% csrf_token %}
                        <label class="form-label d-block">Código do Projeto</label>

                        <input type="text" id="input-square" name="codigo" class="form-control"
                            placeholder="Digite ou selecione um código" title="Selecione ou digite um código válido."
                            list="project-codes" required />
                        <datalist id="project-codes">
                            {% for codigo in codigos %}
                            <option value="{{ codigo }}">{{ codigo }}</option>
                            {% endfor %}
                        </datalist>

                        <br>

                        <div class="row justify-content-evenly">
                            <div class="col-6">
                                <div class="input-group">
                                    <label class="name">Data início</label>
                                    <input id="input-square" class="form-control w-100" type="date" name="inicio"
                                        placeholder="00/00/0000" title="Digite uma data válida." max="8">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="input-group">
                                    <label class="name">Data fim</label>
                                    <input id="input-square" class="form-control w-100" type="date" name="fim"
                                        placeholder="00/00/0000" title="Digite uma data válida." max="8">
                                </div>
                            </div>
                        </div>

                        <br>

                        <div class="row">
                            <label class="name">Template</label>
                        </div>

                        <div class="row">
                            <div class="btn-group" id="border-template">
                                <select class="btn dropdown-toggle" name="template" id="template"
                                    data-bs-toggle="dropdown" aria-expanded="false" required>
                                    <option value="" hidden id="defaultSelection">Selecione um template</option>
                                    {% for temp in templates %}
                                    <option value="{{ temp.id }}" class="dropdown-item">{{ temp.nome_template }}
                                    </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <hr>

                        <div class="row justify-items-center justify-content-center">
                            <input id="btn-baixar" type="submit" value="Baixar" class="btn btn-primary fluid"
                                style="width: 200px;"onclick = "openPopup()" />
                                <div class="popup" id = "popup">
                                    <img src = "{% static 'imagem/tick.png' %}">
                                    <h2>Download iniciado</h2>
                                    <p>Cheque o status do Download na aba da pagina</p>
                                    <button type = "button" onclick="closePopup()">OK</button>
                                </div>
                        </div>
                     
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        let popup = document.getElementById("popup");
        function openPopup(){
            popup.classList.add("open-popup")
        }
        function closePopup(){
            popup.classList.remove("open-popup")
        }
    </script>
</content>

{% endblock %}