{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>AutomaTEC</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
        <script>
            function valida_cpf(cpf) {
                var numeros, digitos, soma, i, resultado, digitos_iguais;
                digitos_iguais = 1;
                if (cpf.length < 11)
                    return false;
                for (i = 0; i < cpf.length - 1; i++)
                    if (cpf.charAt(i) != cpf.charAt(i + 1)) {
                        digitos_iguais = 0;
                        break;
                    }
                if (!digitos_iguais) {
                    numeros = cpf.substring(0,9);
                    digitos = cpf.substring(9);
                    soma = 0;
                    for (i = 10; i > 1; i--)
                        soma += numeros.charAt(10 - i) * i;
                    resultado = soma % 11 < 2 ? 0 : 11 - soma % 11;
                    if (resultado != digitos.charAt(0))
                        return false;
                    numeros = cpf.substring(0,10);
                    soma = 0;
                    for (i = 11; i > 1; i--)
                        soma += numeros.charAt(11 - i) * i;
                    resultado = soma % 11 < 2 ? 0 : 11 - soma % 11;
                    if (resultado != digitos.charAt(1))
                        return false;
                    return true;
                } else
                    return false;
            }
    
            $(document).ready(function() {
                $('#cpf').mask('000.000.000-00', {reverse: true});
    
                $('#cpf').on('blur', function() {
                    var cpfValue = $(this).val().replace(/\D/g, '');
                    if (cpfValue && cpfValue.length === 11) {
                        if (!valida_cpf(cpfValue)) {
                            alert('O CPF digitado é inválido.');
                            $(this).val('');
                            $(this).focus();
                        }
                    }
                });
            });
        </script> -->
    </head>

<body>
    <header>
        <img src="{% static 'imagem/finateclogo.png' %}" alt="finatec">
        <h1>Sistema de prestação automático</h1>
    </header>

        <form action="{% url 'logout' %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="button-logout">Sair</button>
        </form>


    <content class="content">
        <div class="container">
            <img src="{% static 'imagem/logoFinatec.png' %}" alt="logo" class="logo">
            <h3>Selecione o projeto</h3>
            <form class="form">
                 {% csrf_token %} 
                <div class="inputGroup">
                    <div class="input">
                        <label class="name">Código</label>
                        <input type="number" id="codigo" name="usuario" class="placeholder" placeholder="000.000-00" maxlength="14" pattern="\d{3}\.\d{3}-\d{2}" title="Digite um código válido." required>
                    </div>
                    <div class="input">
                        <label class="name">Template</label>
                        <select class="placeholder" name="template" id="template" defaultValue="" required>
                            <option value="" hidden>Selecione um template:</option>
                            <option value="fub" >FUB</option>
                        </select>
                    </div>
                </div>
                <input type="submit" value="Baixar" class="button-submit">
                <!-- <input type="submit" value="formato excel" class="button-submit">     -->
            </form>
        </div>
    </content>
    <footer class="footer">Copyright BRISA 2021©. Todos direitos reservados.</footer>
</body>
</html>