{% extends 'base_logged.html' %} {% block conteudo %} {% load static %} {% load static custom_filters %}

<style>
    .card {
        background-color: rgba(255, 255, 255, 0.062);
        border: 1px solid #bcbcbc;
        color: aliceblue;
        border-radius: 20px;
    }
</style>

<div class="row justify-content-center">
    <div class="col-6">
        <div class="card mx-auto">
            <div class="card-body">
                <h5 class="card-title">{{ request.user }}</h5>
                <h6 class="card-subtitle text-muted">usuário</h6>

                <hr>                
                
                <h6 class="card-text">{{ request.user.email | first_letters }}</h6>
                <h7 class="card-subtitle text-muted">email</h7>
                
                <br>
                <br>
                
                <h6 class="card-text">
                        {{ cpf }}
                </h6>
                <h7 class="card-subtitle text-muted">cpf</h7>
                
                <hr>

                <form>
                    <div class="row justify-content-evenly">
                        <div class="col-4">
                            <button type="submit" class="btn btn-danger">Apagar Conta</button>
                        </div>
                        <div class="col-4">
                            <button type="submit" class="btn btn-secondary">Alterar Senha</button>
                        </div> 
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}