{% extends 'base.html' %}
{% block conteudo %}
{% load static %}
<style>
    .data-table {
        border-collapse: collapse;
        width: 100%;
    }

    .data-table th, .data-table td {
        border: 1px solid #c41515;
        padding: 8px;
        text-align: left;
    }

    .data-table tr:nth-child(even) {
        background-color: #2e06dd;
    }

    .data-table th {
        background-color: #333;
        color: rgb(0, 0, 0);
    }
</style>
<div class="search-container">
    <form method="get" action="{% url 'pjview' %}">
        <input type="text" name="search" placeholder="Digite codigo,nome do projeto,coordenador..." value="{{ search_query }}">
        <button type="submit">Buscar</button>
    </form>
</div>

<!-- <table class="data-table">
    <thead>
        <tr>
            <th>CODIGO</th>
            <th>NOME</th>
            <th>FINANCIADOR</th>
            <th>COORDENADOR</th>
            <th>DATA ASSINATURA</th>
            <th>DATA VIGENCIA</th>
            <th>DATA ENCERRAMENTO</th>
            <th>TIPO DO CONTRATO</th>
            <th>INSTITUICAO EXECUTORA</th>
        </tr>
    </thead>
    <tbody>
        {% for entry in data %}
            <tr>
                <td style="color: white;" >{{ entry.CODIGO }}</td>
                <td style="color: white;" >{{ entry.NOME }}</td>
                <td style="color: white;" >{{ entry.NOME_FINANCIADOR }}</td>
                <td style="color: white;">{{ entry.COORDENADOR }}</td>
                <td style="color: white;" >{{ entry.DATA_ASSINATURA }}</td>
                <td style="color: white;" >{{ entry.DATA_VIGENCIA }}</td>
                <td style="color: white;" >{{ entry.DATA_ENCERRAMENTO }}</td>
                <td style="color: white;" >{{ entry.TIPO_CONTRATO }}</td>
                <td style="color: white;" >{{ entry.INSTITUICAO_EXECUTORA }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table> -->
<table class="data-table">
    <thead>
        <tr>
            <th>CODIGO</th>
            <th>NOME</th>
            <th>SALDO</th>
            <th>DATA ASSINATURA</th>
            <th>DATA VIGENCIA</th>
            <th>DATA ENCERRAMENTO</th>
            <th>TIPO DO CONTRATO</th>
            <th>INSTITUICAO EXECUTORA</th>
            <th>PROCESSO</th>
            <th>SUBPROCESSO</th>
            <th>COD_PROPOSTA</th>
            <th>PROPOSTA</th>
            <!-- #<th>OBJETIVOS</th> -->
            <th>VALOR_APROVADO</th>
            <th>NOME_TP_CONTROLE_SALDO</th>
            <th>GRUPO_GESTORES</th>
            <th>GESTOR_RESP</th>
            <th>COORDENADOR</th>
            <th>PROCEDIMENTO_COMPRA</th>
            <th>TAB_FRETE</th>
            <th>TAB_DIARIAS</th>
            <th>CUSTO_OP</th>
            <th>NOME_FINANCIADOR</th>
            <th>DEPARTAMENTO</th>
            <th>SITUACAO</th>
            <th>BANCO</th>
            <th>AGENCIA_BANCARIA</th>
            <th>CONTA_BANCARIA</th>
            <th>CENTRO_CUSTO</th>
            <th>CONTA_CAIXA</th>
            <th>CATEGORIA_PROJETO</th>
            <th>COD_CONVENIO_CONTA</th>
            <th>COD_STATUS</th>
            <th>IND_SUB_PROJETO</th>
            <th>TIPO_CUSTO_OP</th>
            <th>PROJETO_MAE</th>
            <th>ID_COORDENADOR</th>
            <th>ID_FINANCIADOR</th>
            <th>ID_INSTITUICAO</th>
            <th>ID_DEPARTAMENTO</th>
            <th>NOME_INSTITUICAO</th>
            <th>ID_INSTITUICAO_EXECUTORA</th>
            <th>ID_TIPO</th>
        </tr>
    </thead>
    <tbody>
        {% for entry in data %}
            <tr>
                <td style="color: black;">{{ entry.CODIGO }}</td>
                <td style="color: black;">{{ entry.NOME }}</td>
                <td style="color: black;">{{ entry.SALDO }}</td>
                <td style="color: black;">{{ entry.DATA_ASSINATURA }}</td>
                <td style="color: black;">{{ entry.DATA_VIGENCIA }}</td>
                <td style="color: black;">{{ entry.DATA_ENCERRAMENTO }}</td>
                <td style="color: black;">{{ entry.TIPO_CONTRATO }}</td>
                <td style="color: black;">{{ entry.INSTITUICAO_EXECUTORA }}</td>
                <td style="color: black;">{{ entry.PROCESSO }}</td>
                <td style="color: black;">{{ entry.SUBPROCESSO }}</td>
                <td style="color: black;">{{ entry.COD_PROPOSTA }}</td>
                <td style="color: black;">{{ entry.PROPOSTA }}</td>
                <!-- <td style="color: black;">{{ entry.OBJETIVOS }}</td> -->
                <td style="color: black;">{{ entry.VALOR_APROVADO }}</td>
                <td style="color: black;">{{ entry.NOME_TP_CONTROLE_SALDO }}</td>
                <td style="color: black;">{{ entry.GRUPO_GESTORES }}</td>
                <td style="color: black;">{{ entry.GESTOR_RESP }}</td>
                <td style="color: black;">{{ entry.COORDENADOR }}</td>
                <td style="color: black;">{{ entry.PROCEDIMENTO_COMPRA }}</td>
                <td style="color: black;">{{ entry.TAB_FRETE }}</td>
                <td style="color: black;">{{ entry.TAB_DIARIAS }}</td>
                <td style="color: black;">{{ entry.CUSTO_OP }}</td>
                <td style="color: black;">{{ entry.NOME_FINANCIADOR }}</td>
                <td style="color: black;">{{ entry.DEPARTAMENTO }}</td>
                <td style="color: black;">{{ entry.SITUACAO }}</td>
                <td style="color: black;">{{ entry.BANCO }}</td>
                <td style="color: black;">{{ entry.AGENCIA_BANCARIA }}</td>
                <td style="color: black;">{{ entry.CONTA_BANCARIA }}</td>
                <td style="color: black;">{{ entry.CENTRO_CUSTO }}</td>
                <td style="color: black;">{{ entry.CONTA_CAIXA }}</td>
                <td style="color: black;">{{ entry.CATEGORIA_PROJETO }}</td>
                <td style="color: black;">{{ entry.COD_CONVENIO_CONTA }}</td>
                <td style="color: black;">{{ entry.COD_STATUS }}</td>
                <td style="color: black;">{{ entry.IND_SUB_PROJETO }}</td>
                <td style="color: black;">{{ entry.TIPO_CUSTO_OP }}</td>
                <td style="color: black;">{{ entry.PROJETO_MAE }}</td>
                <td style="color: black;">{{ entry.ID_COORDENADOR }}</td>
                <td style="color: black;">{{ entry.ID_FINANCIADOR }}</td>
                <td style="color: black;">{{ entry.ID_INSTITUICAO }}</td>
                <td style="color: black;">{{ entry.ID_DEPARTAMENTO }}</td>
                <td style="color: black;">{{ entry.NOME_INSTITUICAO }}</td>
                <td style="color: black;">{{ entry.ID_INSTITUICAO_EXECUTORA }}</td>
                <td style="color: black;">{{ entry.ID_TIPO }}</td>
            </tr>
            <tr><td colspan="8"><hr></td></tr>
        {% endfor %}
    </tbody>
</table>

<div class="pagination">
    <span class="step-links">
        {% if data.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ data.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current-page">
            Page {{ data.number }} of {{ data.paginator.num_pages }}.
        </span>

        {% if data.has_next %}
            <a href="?page={{ data.next_page_number }}">next</a>
            <a href="?page={{ data.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock %}