{% extends 'base_logged.html' %}
{% block conteudo %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/lista_projetos.css' %}">

<div class="container text-white">
    <form method="get" action="{% url 'pjview' %}">
        <div class="row">
            <div class="col-2">
                <button class="form-control" type="submit"><img style="height: 15px; align-self: center;"
                        src="{% static 'imagem/pesquisar.png' %}" alt="btn-search" /></button>
            </div>
            <div class="col-10">
                <input class="form-control" type="text" name="search"
                    placeholder="Digite codigo, nome do projeto, coordenador..." value="{{ search_query }}">
            </div>
        </div>
    </form>
</div>

<hr>

<table class="table text-white">
    <thead>
        <tr>
            <th>Código</th>
            <th>Nome</th>
            <th>Financiador</th>
            <th>Data<br>Assinatura</th>
            <th>Data<br>Vigência</th>
            <th>Coordenador</th>
            <!-- <th>Valor<br>Aprovado</th> -->
            <th>Grupo</th>
            <th>Baixar</th>
        </tr>
    </thead>

    <tbody>
        {% for entry in data %}
        <tr>
            <td>{{ entry.CODIGO }}</td>
            <td>{{ entry.NOME | truncatechars:25 }}</td>
            <td>{{ entry.NOME_FINANCIADOR | title }}</td>
            <td>{{ entry.DATA_ASSINATURA | date:"d/m/Y" | center:"15" }}</td>
            <td>{{ entry.DATA_VIGENCIA | date:"d/m/Y" }}</td>
            <td>{{ entry.COORDENADOR | title}}</td>
            <!-- <td>R$ {{ entry.VALOR_APROVADO | floatformat:2 }}</td> -->
            <td>{{ entry.GRUPO_GESTORES }}</td>
            <td>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal{{ entry.CODIGO }}">
                    Baixar
                </button>
                
                <!-- Modal -->
                <div class="modal fade" id="exampleModal{{ entry.CODIGO }}" tabindex="-1" aria-labelledby="exampleModalLabel{{ entry.CODIGO }}" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content text-dark">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel{{ entry.CODIGO }}">{{ entry.CODIGO }}</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <!-- <p><strong>Código:</strong> {{ entry.CODIGO }}</p> -->
                                <p><strong>Nome:</strong> {{ entry.NOME }}</p>
                                <p><strong>Financiador:</strong> {{ entry.NOME_FINANCIADOR }}</p>
                                <p><strong>Data de Assinatura:</strong> {{ entry.DATA_ASSINATURA | date:"d/m/Y" }}</p>
                                <p><strong>Data de Vigência:</strong> {{ entry.DATA_VIGENCIA | date:"d/m/Y" }}</p>
                                <p><strong>Coordenador:</strong> {{ entry.COORDENADOR }}</p>
                                <!-- <p><strong>Valor Aprovado:</strong> R$ {{ entry.VALOR_APROVADO | floatformat:2 }}</p> -->
                                <p><strong>Grupo:</strong> {{ entry.GRUPO_GESTORES }}</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                                <button type="button" class="btn btn-primary">Salvar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="pagination">
    <span class="step-links">
        <!-- <span class="current-page">
                Página {{ data.number }} de {{ data.paginator.num_pages }}.
            </span> -->

        {% if data.has_previous and data.previous_page_number == 1 %}
        <a href="?page=1">1</a>

        {% elif data.has_previous and data.previous_page_number == 2 %}
        <a href="?page=1">1</a>
        <a href="?page={{ data.previous_page_number }}">{{ data.previous_page_number }}</a>

        {% elif data.has_previous %}
        <a href="?page=1">1</a>
        <p>...</p>
        <a href="?page={{ data.previous_page_number }}">{{ data.previous_page_number }}</a>

        {% endif %}

        <strong id="current-page">{{ data.number }}</strong>

        {% if data.has_next and data.next_page_number == data.paginator.num_pages %}
        <a href="?page={{ data.paginator.num_pages }}">{{ data.paginator.num_pages }}</a>

        {% elif data.has_next %}
        <a href="?page={{ data.next_page_number }}">{{ data.next_page_number }}</a>
        <p>...</p>
        <a href="?page={{ data.paginator.num_pages }}">{{ data.paginator.num_pages }}</a>

        {% endif %}
    </span>
</div>
</div>

{% endblock %}
